.Register {
    @include flex-vertical;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .Register-Form {
        @include flex-vertical;
        justify-content: space-between;
        width: 400px;
        height: 500px;
        background-color: $colorMain;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: 2rem 1rem;
    }

    .FieldText, .FieldPassword {
        margin-bottom: 1rem;
    }

    .i-have-account {
        color: $colorBlack;
        text-align: center;

        .Link {
            margin-left: .5rem;
        }
    }
}
