.Button {
    border-radius: $border-radius;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    transition: all 0.25s;
    position: relative;

    &:active {
        transform: scale(0.98);
    }

    &.primary {
        background-color: $colorSecondary;
        color: $colorMain;

        &:hover {
            background-color: darken($colorSecondary, 5);
        }
    }

    &.secondary {
        background-color: $colorMain;
        color: $colorSecondary;
        border: 1px solid $border-color;

        &:hover {
            background-color: darken($colorMain, 5);
        }
    }

    &.text {
        background-color: transparent;
        color: $colorSecondary;
    }
}
