.FieldPassword {
    @include flex-vertical;
    border: none;

    &:focus-within {
        .FieldPassword-label {
            color: $colorSecondary;
        }
    }

    &-label {
        margin-bottom: 0.25rem;
        padding-left: 1rem;
        color: $label-color;
        transition: color 0.25s;
    }

    &-input {
        position: relative;
        border: 1px solid $border-color;
        background-color: $colorMain;
        border-radius: $border-radius;
        color: $colorSecondary;
        font-size: 1rem;
        transition: border-color 0.25s, background-color 0.25s;

        &:focus-within {
            background-color: $field-background-active;
            border-color: $colorSecondary;
        }

        input {
            @include input-base;
            color: inherit;
            background-color: transparent;
            width: 100%;

            &:placeholder {
                color: $border-color;
                opacity: 1;
            }
        }

        svg {
            position: absolute;
            right: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}
