.ProjectList {
    padding: 1rem 1rem;
    background-color: $colorMain;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .empty {
        text-align: center;
        color: lighten($colorBlack, 40);
        font-size: 1.1rem;
        margin-top: 2rem;
    }

    .Button {
        margin-bottom: 1rem;

        .Icon {
            margin-right: .5rem;
        }
    }
}
