.search-bar {
    position: relative;
    border: 1px solid $border-color;
    background-color: $field-background;
    border-radius: $border-radius;
    color: lighten($colorBlack, 50);
    font-size: 1rem;
    transition: border-color 0.25s, background-color 0.25s;
    width: 500px;

    &:focus-within {
        background-color: $field-background-active;
        border-color: $colorYellow;
    }

    .search-bar__input {
        @include input-base;
        color: $field-color;
        background-color: transparent;
        width: 100%;

        &:placeholder {
            color: $border-color;
            opacity: 1;
        }
    }
}
.search-bar__icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
